.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white;
  @media screen and (max-width: 680px) {
    display: block;
  }

  .logo {
    color: #000;
    padding: 14px 16px;
    @media screen and (max-width: 680px) {
      display: none;
    }
  }

  .topMenu { //div
    .topnav { //ul
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
      overflow: hidden;
      @media screen and (max-width: 680px) {
        .responsive {
          position: relative;
        }
      }

      &__list { //li
        float: left;
        @media screen and (max-width: 680px) {
          display: none;
        }

        &__search { //a
          display: inline-block;
          text-transform: capitalize;
          color: #000;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
          transition: 0.3s;
          @media screen and (max-width: 680px) {
            display: block;
            text-align: left;
          }

          &:hover {
            background: #555;
          }

          #svgIcon {
            width: 15px;
            height: 15px;
            fill: #000;
          }
        }
      }

      .icon { //li
        display: none;
        @media screen and (max-width: 680px) {
          float: right;
          display: inline-block;
        }
        @media screen and (max-width: 680px) {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 680px) {
    ul.topnav.responsive li.topnav__list {
      float: none;
      display: inline;
    }
  }
}