* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  text-align: center; }

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  background: #333; }
  @media screen and (max-width: 680px) {
    .menu {
      display: block;
      height: 308px; } }
  .menu .logo {
    color: #fff;
    padding: 14px 16px; }
    @media screen and (max-width: 680px) {
      .menu .logo {
        display: none; } }
  .menu .topMenu .topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 680px) {
      .menu .topMenu .topnav .responsive {
        position: relative; } }
    .menu .topMenu .topnav__list {
      float: left; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav__list {
          display: none; } }
      .menu .topMenu .topnav__list__search {
        display: inline-block;
        text-transform: capitalize;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s; }
        @media screen and (max-width: 680px) {
          .menu .topMenu .topnav__list__search {
            display: block;
            text-align: left; } }
        .menu .topMenu .topnav__list__search:hover {
          background: #555; }
        .menu .topMenu .topnav__list__search #svgIcon {
          width: 15px;
          height: 15px;
          fill: white;
          color: #fff; }
    .menu .topMenu .topnav .icon {
      display: none; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          float: right;
          display: inline-block; } }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          position: absolute;
          right: 0;
          top: 0; } }
  @media screen and (max-width: 680px) {
    .menu ul.topnav.responsive li.topnav__list {
      float: none;
      display: inline; } }

#gallery {
  width: 860px;
  margin: 0 auto;
  text-align: center; }

#gallery .photos {
  position: relative;
  height: 500px; }

#gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s; }

#gallery .photos img.showed {
  opacity: 1; }
