* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  max-width: 1400px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  padding: 0; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0; }

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white; }
  @media screen and (max-width: 680px) {
    .menu {
      display: block; } }
  .menu .logo {
    color: #000;
    padding: 14px 16px; }
    @media screen and (max-width: 680px) {
      .menu .logo {
        display: none; } }
  .menu .topMenu .topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 680px) {
      .menu .topMenu .topnav .responsive {
        position: relative; } }
    .menu .topMenu .topnav__list {
      float: left; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav__list {
          display: none; } }
      .menu .topMenu .topnav__list__search {
        display: inline-block;
        text-transform: capitalize;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s; }
        @media screen and (max-width: 680px) {
          .menu .topMenu .topnav__list__search {
            display: block;
            text-align: left; } }
        .menu .topMenu .topnav__list__search:hover {
          background: #555; }
        .menu .topMenu .topnav__list__search #svgIcon {
          width: 15px;
          height: 15px;
          fill: #000; }
    .menu .topMenu .topnav .icon {
      display: none; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          float: right;
          display: inline-block; } }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          position: absolute;
          right: 0;
          top: 0; } }
  @media screen and (max-width: 680px) {
    .menu ul.topnav.responsive li.topnav__list {
      float: none;
      display: inline; } }

.web {
  width: 100%;
  height: 650px;
  background: url("../img/New Web-Development-Project.jpg") no-repeat center center/cover;
  color: #fff; }
  .web .develop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .web .develop__titel {
      margin-top: 150px;
      font-family: 'Roboto', sans-serif;
      font-size: 48px;
      font-weight: normal;
      letter-spacing: 10px; }
    .web .develop__text {
      margin: 50px 50px 100px 50px;
      font-size: 16px;
      letter-spacing: 2px; }
  .web .buttonCenter {
    display: inline-block; }
    .web .buttonCenter .buttonFirst {
      position: absolute;
      transform: translate(-50%, -50%); }
      .web .buttonCenter .buttonFirst .button {
        border: 2px solid #fff;
        font-size: 18px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        width: 188px;
        height: 62px;
        display: block;
        text-align: center;
        line-height: 60px;
        font-family: Arial, sans-serif;
        position: relative;
        transition: .5s;
        overflow: hidden; }
      .web .buttonCenter .buttonFirst .button::before,
      .web .buttonCenter .buttonFirst .button::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: #218294;
        top: 0;
        left: -100%;
        opacity: .5;
        transition: .3s;
        z-index: -1; }
      .web .buttonCenter .buttonFirst .button::after {
        opacity: 1;
        transition-delay: .2s; }
      .web .buttonCenter .buttonFirst .butt:hover {
        color: #fff; }
      .web .buttonCenter .buttonFirst .button:hover::before,
      .web .buttonCenter .buttonFirst .button:hover::after {
        left: 0; }
      .web .buttonCenter .buttonFirst .pulse {
        background-color: aqua;
        border-radius: 50%;
        animation: pulse 0.7s ease-out;
        transform: scale(0);
        position: absolute; }

@keyframes pulse {
  to {
    transform: scale(2);
    background-color: #fff;
    opacity: 0; } }

#gallery {
  width: 860px;
  margin: 0 auto;
  text-align: center; }

#gallery .photos {
  position: relative;
  height: 500px; }

#gallery .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s; }

#gallery .photos img.showed {
  opacity: 1; }
