.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: white; }
  @media screen and (max-width: 680px) {
    .menu {
      display: block; } }
  .menu .logo {
    color: #000;
    padding: 14px 16px; }
    @media screen and (max-width: 680px) {
      .menu .logo {
        display: none; } }
  .menu .topMenu .topnav {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; }
    @media screen and (max-width: 680px) {
      .menu .topMenu .topnav .responsive {
        position: relative; } }
    .menu .topMenu .topnav__list {
      float: left; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav__list {
          display: none; } }
      .menu .topMenu .topnav__list__search {
        display: inline-block;
        text-transform: capitalize;
        color: #000;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s; }
        @media screen and (max-width: 680px) {
          .menu .topMenu .topnav__list__search {
            display: block;
            text-align: left; } }
        .menu .topMenu .topnav__list__search:hover {
          background: #555; }
        .menu .topMenu .topnav__list__search #svgIcon {
          width: 15px;
          height: 15px;
          fill: #000; }
    .menu .topMenu .topnav .icon {
      display: none; }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          float: right;
          display: inline-block; } }
      @media screen and (max-width: 680px) {
        .menu .topMenu .topnav .icon {
          position: absolute;
          right: 0;
          top: 0; } }
  @media screen and (max-width: 680px) {
    .menu ul.topnav.responsive li.topnav__list {
      float: none;
      display: inline; } }
